<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>RESTful blog app</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="/lib/jQuery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.js"></script>
</head>
<body>
	<!-- DISPLAYING POSTS -->
	<h1 class="ui center inverted aligned icon header" style="background-color: rgb(48, 48, 48); padding: 0.5em">
		 <i class="circular blogger b icon"></i>
		  				nodejs/express/crud-RESTful/mongoDB-mongoose Blog SPA

	</h1>
	

	<div class="ui centered grid" >
		
		<div class="six wide tablet eight wide computer column" id="output">
			
			<% data.forEach(el=>{ %>
				<div class="field" id="<%= el._id %>">
						<br>
						<br>
						<h2><%= el.title %></h2>
						
							<img class="ui fluid image" src="<%= el.url %>">
						<br>
						<p style="text-align: justify;"><%= el.text %></p>
						<br>
						
						<div class="ui horizontal divider">
    						RESTful blog SPA
  						</div>
				</div>
			<% }) %>
			
		</div>
	</div>
	<div class="ui centered grid">
		<div class="six wide tablet eight wide computer column">
			<button class="ui fluid  inverted blue button" id="addnewblog">Add new blog</button>
		</div>
	</div>

    <div class="ui basic modal grid" id="input">
    	<h1>Add new blog</h1>
  			<div class="ui form">
  				<label>Blog title</label>
  				<input type="text" id="blogTitle" placeholder="" required>	
				<label>Image URL</label>
  				<input type="text" id="imgUrl" placeholder="" required>
			    <label>Text</label>
			    <textarea style="resize: none;" id="blogText" required></textarea>
			    <div class="ui blue fluid ok  button" id="confirm" >
			    	<i class="checkmark icon"></i>
			    </div>
			</div>
			<br>
	</div>

	<div class="ui basic modal grid" id="edit">
		<h1 id="header">Edit blog</h1>
  			<div class="ui form">
  				<label>Blog title</label>
  				<input type="text" id="blogTitle">
  				<div class="ui grid">
	  				<div class="six wide column">
	  					<label>URL</label>
  						<input type="text" id="imgUrl">
	  				</div>
	  				<div class="ten wide column">
	  					<label>Image</label>
  						<img src="" id="img" class="ui centered large image">
	  				</div>
				</div>
			    <label>Text</label>
			    <textarea style="resize: none;" id="blogText"></textarea>
			    <br>
			    <br>	
			    <div class="ui blue fluid inverted ok  button" id="update" >
			    	UPDATE BLOG
			    </div>
			  		<br>	
			    <div class="ui red fluid inverted cancel  button" id="delete" >
			    	DELETE BLOG
			    </div>
			</div>
			<br>
	</div>
    
    <script src="/js/landing.js"></script>
    <script src="/js/style.js"></script>
    <script src="/js/editBlog.js"></script>
</body>
</html>