<% include partials/header.ejs %>

	<!-- DISPLAYING POSTS -->
	<h1 class="ui center inverted aligned icon header" style="background-color: rgb(48, 48, 48); padding: 0.5em">
		 <i class="circular blogger b icon"></i>
		  				Simple Blogging App
		<div>
			<form action="/logout" method="GET">
				
				<button class="ui inverted button">Logout</button>
			</form>
			<button class="ui inverted button">My Blogs</button>
		</div>
							  
	</h1>
	

	<div class="ui centered grid" >
		
		<div class="sixteen wide tablet eight wide computer column" id="output">
			
			<% data.forEach(el=>{ %>
				<div class="field" id="<%= el._id %>">
						<h4 class="computer only"><%= el.title %></h4>
						
							<img class="ui fluid image" src="<%= el.url %>">
						<br>
						<p style="text-align: justify;"><%= el.text %></p>
						<br>
						
						<div class="ui horizontal divider">
    						RESTful blog SPA
  						</div>
				</div>
			<% }) %>
			
		</div>
	</div>
	<div class="ui centered grid">
		<div class="six wide tablet eight wide computer column">
			<button class="ui fluid  inverted blue button" id="addnewblog">Add new blog</button>
		</div>
	</div>

    <div class="ui basic modal grid" id="input">
    	<h1>Add new blog</h1>
  			<div class="ui form">
  				<label>Blog title</label>
  				<input type="text" id="blogTitle" placeholder="" required>	
				<label>Image URL</label>
  				<input type="text" id="imgUrl" placeholder="" required>
			    <label>Text</label>
			    <textarea style="resize: none;" id="blogText" required></textarea>
			    <div class="ui blue fluid ok  button" id="confirm" >
			    	<i class="checkmark icon"></i>
			    </div>
			</div>
			<br>
	</div>

	<div class="ui basic modal grid" id="edit">
		<h1 id="header">Edit blog</h1>
  			<div class="ui form">
					<div class="four wide column">
						<label>Blog title</label>
						<input type="text" id="blogTitle">
						<label>URL</label>
						<input type="text" id="imgUrl">
						<label>Image</label>
						<img src="" id="img" class="ui centered large image">
						<label>Text</label>
						<textarea style="resize: none;" id="blogText"></textarea>
					</div>
					<div class="ui horizontal inverted divider">
    						COMMENTS
  					</div>
					
					<div class="four wide column">
						

					</div>
						
			
  			
			    
			    <br>
			    <br>	
			    <div class="ui blue fluid inverted ok  button" id="update" >
			    	UPDATE BLOG
			    </div>
			  		<br>	
			    <div class="ui red fluid inverted cancel  button" id="delete" >
			    	DELETE BLOG
			    </div>
			</div>
			<br>
	</div>
    
  


<% include partials/footer.ejs %>
	